[2018-10-30 18:29] dhimmel opened #2 "Selecting a cloud provider for this project"
@dongbohu @cgreene and I were discussing cloud providers to host this webapp. Generally the lab uses AWS. However, I personally find AWS too difficult to use, and at times expensive.

It [looks like](https://cloud.google.com/sql/docs/postgres/quickstart) setting up a Postgres instance on Google Cloud is straightforward. @dongbohu I am inclined to suggest Google Cloud as the first option, and if we

[2018-10-31 19:33] dongbohu commented on #2
@dhimmel I don't have a strong preference on which cloud platform to host the database. I never used Google Cloud before. If you think it is better than AWS, then we can definitely try. (As you said, we can switch to AWS if it doesn't work well.)

[2019-02-04 23:55] dhimmel opened #16 "Flush of AWS database not working"
I am attempting to wipe the prototype database and re-populate it using the new `hetmatpy` version added in #15.

However, the following command seems to run indefinitely without returning or erroring:

[code]

When the database was a local postgres instance in a Docker, this command took at most a few seconds. @dongbohu any ideas?

[2019-02-05 11:40] dongbohu commented on #16
Try psql command maybe.

[2019-02-05 15:15] dhimmel commented on #16
I am thinking this is because there may be existing transactions that are not closed, therefore the flush command cannot proceed (according to this [StackOverflow](https://stackoverflow.com/a/40273788/4651668)).

The `pg_stat_activity` [command](https://www.postgresql.org/docs/10/monitoring-stats.html#PG-STAT-ACTIVITY-VIEW) shows we have running processes. I try to kill them with:

[code]

However

[2019-02-05 15:47] dhimmel commented on #16
Trying from within a `psql` session:

[code]

Returned:

[code]

Therefore, I try the `dropdb` shell [command](https://www.postgresql.org/docs/10/app-dropdb.html):

[code]

This fails with error:

[code]

[2019-02-05 15:54] dhimmel commented on #16
I tried method from https://dba.stackexchange.com/a/163668:

[code]

Only got to terminate existing connections, then psql disconnected from the database. Now when I try to connect in a new `psql` session, I receive:

[code]

This is probably because I changed the connection limit.

@dongbohu, I may need you to take over here.

[2019-02-05 16:23] dhimmel commented on #16
Okay @dongbohu rebooted the database, allowing me to login and remove the connection limit:

[code]

Then I could run

[code]

Then we ran the following to recreate the database:

[code]

[2019-02-05 16:38] dhimmel commented on #16
Notes: next time the method in https://github.com/greenelab/hetmech-backend/issues/16#issuecomment-460691145 may work, however, we must not run the command from the `dj_hetmech` database.

[2019-03-03 19:32] dhimmel commented on #16
# Success

For https://github.com/greenelab/hetmech-backend/pull/18, I used the following workflow to delete the database and recreate an empty one:

[code]

[2019-03-04 14:13] ben-heil commented on #16
Whenever the database is repopulated (or at least the past two times), the read_only_user doesn't have any permissions for the database

In the current version of the database read_only_user works fine after manually adding permissions, but I think there should be a way to add permissions automatically when reloading the database

[2019-03-27 19:57] dongbohu opened #29 "Automate Nginx Deployment"
This Django app is called by Nginx, which behaves as a reverse proxy to client requests. Here is the nginx configuration file:
[code]

The directory `/home/ubuntu/hetmech-backend/dj_hetmech/static` (which holds static files for API view) should be populated by the following management command:
[code]

Gunicorn is started at boot time by supervisord, with the following configuration:
[code]

[2019-03-27 23:09] dhimmel commented on #29
This is helpful to jot down. Hopefully, in the medium term, we can design a solution that produces the server instance in an entirely scripted way. One solution that comes to mind is for this repository to define a Docker image with its environment. This image could be built / deployed by CI as necessary. @dongbohu interested to hear what you think is the best solution?

[2019-03-28 14:14] dongbohu commented on #29
For now I can write a shell script to keep track of all deployment steps. Then if we (or users of this repo) need to deploy the backend, all they need to do is run this script on either docker container or cloud instances such as AWS EC2 or Google Cloud etc.

[2019-04-10 17:55] vincerubinetti opened #31 "Provide query to frontend to retrieve path/graph data from neo4j"
The front-end will need to query the [neo4j](https://neo4j.het.io/browser/) database to get the data needed to draw a graph representation of metapaths/paths. Apparently this query is fairly complex and also would be more appropriately generated by the backend.

The backend could either give the frontend the query, or perhaps do the query and return the results to the frontend.

Info on the neo4j

[2019-04-10 18:40] dongbohu commented on #31
Can you give me an example neo4j query? Wouldn't it be faster if the frontend queries neo4j and handles the responses directly since the frontend is hosted on github but the search-api backend is hosted on AWS? The extra hop from frontend to search-api backend seems redundant to me.

[2019-04-10 19:41] dhimmel commented on #31
the backend will need to generate the query.

The query will be like (generated mostly by [this `hetio` function](https://github.com/hetio/hetio/blob/7c179b75a5520b3520cc44017325b64c2b655ce2/hetio/neo4j.py#L381-L421)):

[code]

That is for the _CbGpPWpGaD_ metapath [between Buproprion and epilepsy syndrome](https://search.het.io/?source=14177&target=14792). Run this query at https://neo4j.het.io/b

[2019-04-18 17:29] vincerubinetti commented on #31
@dhimmel and I are working on Cypher to return data for the path table. Here are two lines to provide a list of neo4j node and relationship ids:

[code]

[2019-04-19 16:43] dhimmel commented on #31
Here is a template query for returning the data for a list of neo4j node ids:

[code]

And here is a template for the neo4j rel ids:

[code]

@vincerubinetti I think it's possible this node / rel lookup could happen entirely on the frontend. However, we could also do it on the backend and require a bit less post-processing.

[2019-04-19 20:31] dhimmel commented on #31
I'm thinking the paths backend endpoint will return something like:

[code]

[2019-04-22 18:02] dhimmel opened #35 "Continuous deployment fails to update conda environment"
There are two issues. First, when https://github.com/greenelab/hetmech-backend/commit/ac47bc4508957865570e9f19392362dee3259e89 updated the environment, the [CI deployment failed](https://circleci.com/gh/greenelab/hetmech-backend/107) with error:

[code]

Second, the `conda env update` command (which is currently incorrect as `conda update`) does not update the pip dependencies (see https://github.

[2019-04-22 18:09] dhimmel commented on #35
Given that a future conda release will fix this bug, perhaps we can continue with the current `env update` and just fix the first issue of `conda: command not found`.

[2019-04-22 18:15] #31 closed

[2019-04-22 18:26] dhimmel opened #36 "Harmonize database node ids between postgres and neo4j"
Currently, we have two internal database ids for nodes: one used by the Hetionet neo4j database and one used by this repo's postgres db. I am thinking we should consolidate and use the neo4j ids in this database.

[2019-04-22 20:46] dongbohu commented on #35
`conda` updated to `4.6.14` by this command: `conda update conda`.

[2019-04-22 21:03] dhimmel commented on #35
Okay we will see if our fixes close this issue when we merge https://github.com/greenelab/hetmech-backend/pull/38

[2019-04-22 21:18] dhimmel commented on #35
https://github.com/greenelab/hetmech-backend/commit/32612caab43856b212ac7cf283ab330e7531d038 [deployed](https://circleci.com/gh/greenelab/hetmech-backend/126) properly and updated hetio, so closing this issue.

[2019-04-23 15:25] #35 closed

[2019-04-23 16:36] dhimmel commented on #36
To get all nodes, we could use a cypher query like:

[code]

[2019-04-24 18:43] #36 closed

[2019-05-01 21:39] dhimmel opened #43 "query-paths fails due to duplicate rows for symmetric metapaths"
I noticed a the frontend failed at https://search.het.io/?source=8224&target=32460 when I tried to select a metapath. Looks like a backend error. Specifically, https://search-api.het.io/v1/query-paths/?source=8224&target=32460&metapath=GpBPpG fails at:

https://github.com/greenelab/hetmech-backend/blob/df4cc76248c3e68cdcefee255b449f59fe9945d9/dj_hetmech_app/utils/paths.py#L29

[2019-05-01 21:42] dhimmel commented on #43
Hmm seems to work locally at http://localhost:8000/v1/query-paths/?source=8224&target=32460&metapath=GpBPpG

[2019-05-01 21:46] dhimmel commented on #43
From the debug HTML output:

[code]

We will have to see whether the database actually has two rows for this. My local runserver should be using the production database, so I am confused about the divergent behavior.

[2019-05-01 22:00] dhimmel commented on #43
It looks like the issue is that some metapaths appear twice (in both orientations), when the source and target metanode are the same.

See this SQL output:

[code]

So it looks like the symmetric metapaths are duplicated (stored in both orientations), but not-nonsymetric. We see the duplication at

![image](https://user-images.githubusercontent.com/1117703/57046039-24570b80-6c3d-11e9-9c41-01f2e95d

[2019-05-02 18:57] dhimmel commented on #43
This issue was because locally I was not running the latest backend code. Once I updated the backend code, I got the error locally as well.

The error should no longer occur due to https://github.com/greenelab/hetmech-backend/pull/44. However, the database still has redundant rows for symmetric metapaths. https://github.com/hetio/hetmatpy/pull/13 would make it so future database imports will not h

[2019-05-07 18:10] #43 closed

[2019-05-09 17:45] dhimmel opened #46 "nodes and query-paths endpoints return node data in different formats"
@vincerubinetti mentioned that this is an annoyance for the frontend.

From https://search-api.het.io/v1/nodes/

[code]

From https://search-api.het.io/v1/query-paths/?source=11545&target=33324&metapath=SEcCrCrC:

[code]

[2019-05-09 17:58] vincerubinetti commented on #46
As we discussed in person, the best idea might be to put every property that will _always_ be there in the top level, and any property that is only _sometimes_ there under `data`. This would probably be the most clear and least arbitrary split. The other option is to put the more "significant" (subjectively) properties -- like perhaps `name`, `metanode`, and `source` -- in the top level, and the l

[2019-05-13 21:08] dhimmel opened #49 "Improve ordering of matches for nodes endpoint"
Currently, searching `ep` will return `nicotine dependence` before `epilepsy`.

We are also thinking of including number of metapaths in database functionality.

[2019-05-13 21:08] dhimmel commented on #49
##### Notes to self about django-rest-framework

https://www.django-rest-framework.org/api-guide/filtering/#searchfilter

[code]

[2019-05-15 14:02] vincerubinetti commented on #46
@dhimmel seems like this can be closed?

[2019-05-15 14:04] vincerubinetti opened #52 "Implement elastic search or similar"
I believe we're currently using simple substring matching for our node search. Throughout my testing of the frontend, I've come across many cases where I've had to type much more of a gene/compound/disease/etc than I would expect (compared to something like Google) to get it to show up near the top of the list.

Here is one example I found just now, though it's certainly not the best example of th

[2019-05-15 14:11] vincerubinetti commented on #49
I believe there's two separate issues here. @dhimmel I created a separate issue for the ordering of search results #52 . Could we make this issue more specifically about the number of metapaths?

Here's how I imagine the functionality:

The user already has a source node selected. They focus the target node search box (with nothing typed in yet). This is the scenario where I populate the autosugge

[2019-05-15 16:16] dhimmel commented on #46
Well we addressed the name of `data`, but we haven't unified the format of the nodes results to be the same from the /nodes and /query-paths endpoints.

[2019-05-29 18:24] dongbohu commented on #52
PostgreSQL has some built-in full-text search functionalities. I have been playing with them lately. Try the following search:
http://18.210.24.231/v1/nodes/?search=ep
The search is still based on substring matching, but the results are ranked based on trigram similarity. You can compare the results with the original search:
http://search-api.het.io/v1/nodes/?search=ep

For more information on tri

[2019-05-29 19:00] dhimmel commented on #52
Is it possible to have a mode that does both search and trigram, such that you get any node matched by either approach?

[2019-05-29 19:11] dongbohu commented on #52
@dhimmel, Yes it is possible. The code may not be as lovely. Let me try it.

[2019-05-29 19:44] dhimmel opened #53 "count-metapaths-to not returning metapath_count"
https://search-api.het.io/v1/nodes/?search=Alitretinoin&limit=100&count-metapaths-to=20115 returns

[code]

Note that `metapath_count` is missing, but there should be results:

![image](https://user-images.githubusercontent.com/1117703/58586216-9284f300-8228-11e9-8abc-ef9a42312194.png)

[2019-05-29 19:45] dhimmel commented on #53
@vincerubinetti it seems to me that count-metapaths-to never works when `search` is specified.

[2019-05-29 19:48] dhimmel commented on #53
I amended the last commit to https://github.com/greenelab/hetmech-backend/commit/e73ccb4363f669ba04119a798d2ff579dd7f83b7, this should fix it I hope! I fixed this last week but forgot to push upstream. The issue is that the code had `count_metapaths_to` rather than `count-metapaths-to`.

[2019-05-29 19:48] vincerubinetti commented on #53
Odd. I could've sworn this was working before, that is `count-metapaths` with `search` specified.

[2019-05-29 20:03] dhimmel commented on #53
Amending commit broke backend https://circleci.com/gh/greenelab/hetmech-backend/190 @dongbohu we need to force pull and in future I will protect master branch

[2019-05-29 20:12] dongbohu commented on #53
I did force pull on backend server. It should be working as it was before the amending.

[2019-05-29 21:18] #53 closed

[2019-05-30 15:26] dongbohu commented on #52
@dhimmel and @vincerubinetti, here is a new search API on a test server:
http://18.210.24.231/v1/nodes/?search=ep
It returns the exact substring match of `name` field sorted by trigram similarity values.

To enable fuzzy search, add `fuzzy` option in the URL:
http://18.210.24.231/v1/nodes/?search=ep&fuzzy
The results is a union of exact substring match and fuzzy search (trigram similarity) on `nam

[2019-05-30 16:10] vincerubinetti commented on #52
Cool. Can I take some time to test it and we can merge it maybe tomorrow? Also if `fuzzy` works as expected, I'd probably always just include it. Don't know if that'd make you want to just have it on by default in the backend, or if Daniel thinks it's useful for people using the endpoints "manually" (without the frontend) to still have the option.

[2019-05-30 16:39] dongbohu commented on #52
@vincerubinetti: Take your time. I will keep the test server running until this issue is fixed.

I am open about whether the fuzzy search should be the default behavior. If you guys prefer, we can even use a brand new parameter name such as `fuzzy-search` to distinguish it from `search`, which does exact matching.

[2019-05-31 20:26] vincerubinetti commented on #49
This is captured by issue #52.

This is closed by PR #51

[2019-05-31 20:31] vincerubinetti opened #56 "Improve performance/lag for benefit of frontend"
Performance of the frontend can be a bit laggy, which makes it unpredictable and confusing to the user when there is a queue of long computations in sequence. Some of this lag can be improved on the frontend, which I am in the process of doing. Some of this lag can surely be improved with modifications to the backend.

I'm not sure what the improvements would look like. One could possibly be a `ti

[2019-05-31 20:36] vincerubinetti opened #57 "Change `max-paths` to `limit`, and add `limit` for all queries that return lists"
Make the parameter name consistent. I recommend `limit` or `result-limit`, because it makes no assumptions about what type of data or object the query will return (in case we ever change the data structures or names of things), and it pretty clearly indicates that it's just a # limit on whatever will be returned by the query.

Also, it would be good to have this parameter available for all queries

[2019-05-31 20:48] vincerubinetti commented on #52
This already works way better than the old way already.

Is there any way to combine the two methods in a way such that this would return Epilepsy first, since I've typed an exact match of the first 3 characters:
![image](https://user-images.githubusercontent.com/8326331/58733878-d829f300-83c3-11e9-8943-cdb373173109.png)

[2019-05-31 21:14] vincerubinetti opened #58 "Add metatype filter to all applicable queries"
We have a handy collection of metatype filter buttons at the top of the page on the front end. Currently, the only query those have an effect on is when the user types in a search string. It doesn't apply when doing `count-metapaths-to` or anything else.

We can sit down and discuss where it would be appropriate to include this parameter. It might just be all the queries involved with the source/t

[2019-06-03 17:36] dongbohu commented on #52
@vincerubinetti: I tweaked the sorting order so that exact matches are always before non-exact matches. Matches that have same trigram similarity will be sorted alphabetically. So in the following search:
http://18.210.24.231/v1/nodes/?search=epi&fuzzy
`EPO` and `EPX` are at the end, and `EPO` is before `EPX` because of the alphabetical order.

[2019-06-03 18:26] vincerubinetti commented on #52
@dongbohu This looks great from my local testing. ~If you want me to push a test build to my website, I'll need an `https` version of the above test endpoint.~

Actually, just go to https://www.vincentrubinetti.com/hetmech/ and in Chrome click the shield icon to allow "unsafe scripts" so you can see the test server in action:

![image](https://user-images.githubusercontent.com/8326331/58825173-d35

[2019-06-03 18:30] dongbohu commented on #52
@vincerubinetti: Thanks. I will clean up the backend code and submit a PR.

[2019-06-07 18:37] dongbohu commented on #52
Fixed in #59.

[2019-06-07 18:37] #52 closed

[2019-06-07 18:39] dongbohu commented on #49
Fixed by #59.

[2019-06-07 18:39] #49 closed

[2019-06-10 19:17] dongbohu opened #60 "Postgres Database Optimization"
@dhimmel and @vincerubinetti: I added a few indexes in `identifier` and `name` fields in `Node` table on a clone of current backend DB. These indexes are supposed to make prefix search on `identifier` and substring/trigram searches on `name` field up to ten times faster (from a few hundred milliseconds to ~10 milliseconds). I am running the optimized DB on test AWS EC2 instance:
http://35.175.113.

[2019-06-10 19:55] dhimmel commented on #60
Because the node table is so small ( < 50,000 nodes), there will be very little cost to indexing them right? So if this could even theoretically speed up search, I think we should add it.

[2019-06-10 19:58] dongbohu commented on #60
@dhimmel: Yes, these indexes can be added/deleted/updated in a few seconds.

[2019-06-10 20:02] vincerubinetti commented on #60
I'd agree. Seems like it'd help. As long as it doesn't hurt, I'm for it.

[2019-06-10 20:16] dongbohu commented on #60
Here is a SQL script that adds the extra indexes. It should be run after the database has been populated.
[code]
It can be run by:
`psql -U <username> -h <hostname> -f <this_script> -d <db_name>`

[2019-06-10 20:35] dongbohu commented on #60
I added these indexes on production database.

[2019-06-10 20:35] #60 closed

[2019-06-10 20:36] dhimmel commented on #60
@dongbohu is this not something that can be integrated into `models.py`? All of the other index specification occurs there. Would be great if this could be integrated into the django workflow somehow, right?

Is this related: https://stackoverflow.com/a/51880653/4651668

[2019-06-10 20:41] dongbohu commented on #60
It's possible to integrate these indexes in `models.py`, but usually the indexes should be added after database is populated. See a discussion here:
https://dba.stackexchange.com/questions/66182/index-creation-before-or-after-loading-data

[2019-06-10 20:42] dongbohu commented on #60
I had bad experience defining indexes before loading the data in.

[2019-06-10 21:29] dhimmel commented on #60
The main reason to adding the index after the database has been created seems to be speed to create them. However, since the Nodes table is small that doesn't seem to be an issue here?

My worry is not whether the indexes are creating during db population or afterwards. My worry is to have their creation be completely separate from the hetmech-backend codebase. Is there an automated way to build t

[2019-06-10 22:09] dongbohu commented on #60
When index was generated while the table is constantly updated, not only is the loading speed slowed down, but the index bloated and became non-optimal. That's why Postgres also provides `reindex` command. (Since `Node` table is small, I confess that maybe I am a little paranoid.)

`populate_database` management command sounds a good place to add these indexes.

[2019-07-15 15:11] dhimmel opened #63 "DegreeGroupedPermutation table contains NaN values"
[code]

returns:

[code]

Notice how `nonzero_mean` and `nonzero_sd` are `nan`. I was expecting missing values to be None here, which would help with JSON encoding.

We double checked this occurs in the database:

[code]

[code]

[2019-07-30 17:56] dhimmel opened #64 "Return path count for non-precomputed rows"
Currently, when we compute DWPC and path information on the fly, we have not been calculating setting `path_count`:

https://github.com/greenelab/hetmech-backend/blob/6b00ffe58664db9941e3bf6ce89596e9bc7f9404/dj_hetmech_app/utils/paths.py#L97

The reason for this limitation was that [`hetnetpy.neo4j.construct_dwpc_query`](https://github.com/hetio/hetnetpy/blob/43294c38cfbc61ede93d6621188a8de2143dec

[2019-07-30 19:32] #64 closed

[2019-08-28 18:58] cgreene commented on #58
It seems like if we're going to have the filters on the page, they probably should apply to the full set of queries. I think this came up on the call this week where the "fill in the second element" wasn't filtered.

[2019-08-28 20:50] dhimmel commented on #58
Indeed. I'll look into what the backend API needs in order to support consistent filtering.

[2019-10-25 19:57] dhimmel commented on #58
Check out https://github.com/greenelab/hetmech-backend/pull/66.

Once merged, it will allow queries like https://search-api.het.io/v1/count-metapaths-to/2/?metanodes=G,MF

This query would return cached metapath counts from node 2 to all nodes of type Gene or Molecular Function. The change is backwards compatible... omitting `?metanodes=G,MF` will continue to return counts for all nodes.

@vinceru

[2019-10-28 17:29] #58 closed

[2019-10-28 20:36] vincerubinetti opened #67 "Refactor endpoint names/urls"
While coding the frontend, I often get mixed up about which query does which thing; mainly for the node search queries.

Here's how it is now:
[code]

I propose we change it to this:
[code]

I think this would be a more clear organization to the queries. Couple of things:
1) putting all the node related queries under `node`
2) making the "count-metapaths-to" based on parameters rather than differe

[2019-10-29 18:29] dhimmel commented on #67
@vincerubinetti good point that the following queries all return a list of nodes:

https://search-api.het.io/v1/nodes/?search=%22flash%22
https://search-api.het.io/v1/nodes/?search=%22flash%22&count-metapaths-to=2
https://search-api.het.io/v1/count-metapaths-to/2/

I agree we could simplify the API by getting rid of the `count-metapaths-to` endpoint. Let me look into what that will take in terms o

[2019-10-29 19:26] dhimmel commented on #67
Another question is whether we should change `https://search-api.het.io/v1/paths/` to `https://search-api.het.io/v1/paths/<source_id>/<target_id>`.

[This guidance](https://stackoverflow.com/a/4028874/4651668) would advocate the later:

There are several options for this syntax:

1. `https://search-api.het.io/v1/paths/<source_id>/<target_id>`
2. `https://search-api.het.io/v1/paths/source=<source_i

[2019-10-29 19:28] vincerubinetti commented on #67
1)

I'd say the other two are too verbose and don't add all that much. I'm thinking if someone is querying for paths, they already know that they need a source and target as input?

[2019-10-29 19:34] dhimmel commented on #67
Option 3 seems to be used by tutorials like [this one](https://idratherbewriting.com/learnapidoc/docapis_doc_parameters.html#path_parameters). `paths/source/2/target/4` is longer to type, but a lot more clear from the URL than `paths/2/4`. Will keep working on #68 and we can decide at the end.

[2019-10-29 19:35] vincerubinetti commented on #67
If there's clear precedence, then definitely go with that.

[2019-10-30 00:51] dhimmel commented on #67
Currently https://github.com/greenelab/hetmech-backend/pull/68 modifies the API to contain the following endpoints:

    "http://localhost:8000/v1/node/2",
    "http://localhost:8000/v1/nodes/",
    "http://localhost:8000/v1/nodes/count-metapaths-to/2/",
    "http://localhost:8000/v1/random-node-pair/",
    "http://localhost:8000/v1/metapaths/source/17054/target/6602/",
    "http://localhost:8000/

[2019-10-31 15:43] dhimmel commented on #2
Closing this issue since @dongbohu proceeded with AWS.

[2019-10-31 15:43] #2 closed

[2019-10-31 16:44] dhimmel commented on #67
Now #68 provides the following:

    "http://localhost:8000/v1/node/2",
    "http://localhost:8000/v1/nodes/",
    "http://localhost:8000/v1/random-node-pair/",
    "http://localhost:8000/v1/metapaths/source/17054/target/6602/",
    "http://localhost:8000/v1/metapaths/random-nodes/",
    "http://localhost:8000/v1/paths/source/17054/target/6602/metapath/CbGeAlD/"

https://github.com/greenelab/hetme

[2019-10-31 16:50] #57 closed

[2019-10-31 16:50] #67 closed

[2020-03-27 08:25] LuciaWL001 opened #73 "populate_database.py: "data" should be "properties""
The line 216 in populate_database.py is wrong.
It shoud be changed from data=data to properties=data.
Please check and confirm.
Thank you~

[2020-03-27 13:32] dhimmel commented on #73
Here's the command in question:

https://github.com/greenelab/connectivity-search-backend/blob/c70881828b58310722426f61550596950bb1a61b/dj_hetmech_app/management/commands/populate_database.py#L210-L217

Looks like we forgot to update `populate_database.py` following https://github.com/greenelab/connectivity-search-backend/commit/b65186eadf8dd0f94e70a40f80eca9e27065e2d1. Great catch @LuciaWL001.

W

[2020-03-28 06:24] LuciaWL001 commented on #73
Thank you for your response~
I will try to pull a request and fix the issue. But it's my first time to fix issue in github，I will try my best to do it carefully.

[2020-03-28 09:37] LuciaWL001 commented on #73
I am sorry I can not git clone code from github right now, due to the bad network. Please fix it by yourself.
Thank you for your trust.

[2020-03-28 12:27] #73 closed

[2020-03-28 12:27] dhimmel commented on #73
Okay should be fixed by https://github.com/greenelab/connectivity-search-backend/commit/af12f8cf2ad47d9a25ce8d1b7889390654eb3bb9. Let me know if you encounter any other problems!

[2020-06-22 17:09] dhimmel commented on #63
Current API call
https://search-api.het.io/v1/paths/source/6602/target/17054/metapath/DaGuCrC/ returns:

[code]

So this is fixed in terms of the backend API response, but not sure if we updated the database to replace the `NaN` with null.

[2020-07-22 01:10] siyuniu opened #74 "dj_hetmech_app_node does not include in the code"
Hi, I followed the steps in the readme and try to connect the front end with the back end. However, though I could open page http://localhost:8000/v1/ I got error when trying to open http://localhost:8000/v1/nodes/
The error message is:

[code]

I set up the docker and POSTGRES_DB locally. Is there anything I missed to implement?

[2020-07-23 12:02] dhimmel commented on #74
Ah, I think it's probably that your database is empty. We populate the database using the commands at (running them inside the conda environment):

https://github.com/greenelab/connectivity-search-backend/blob/65a29f2d282e4f0faa23b978d9cd44cda0231081/dj_hetmech_app/management/commands/populate_database.py#L3-L7

Removing `--reduced-metapaths` will have the database import the same data we have loa

[2020-07-29 05:13] siyuniu commented on #74
Hi, I tried the code you provided, the first three lines run with no problem, however, when I tried line 6:

[code]

I got error of:

[code]

It seems that dj_hetmech_app_metanode is not set up yet, could you tell me how to make it? Thanks a lot.

[2020-07-29 12:15] dhimmel commented on #74
Hmm. Seems like the metanode database table has not been created properly. Can you provide the full output when you run the following two commands:

[code]

Tagging @dongbohu who also might have some insight.

[2020-07-29 12:30] dongbohu commented on #74
What @dhimmel suggests makes sense to me. It might be helpful to use SQL statement to list the tables in the database too. (If you are using Postgres, `psql` is the command.)

[2020-08-04 07:54] siyuniu commented on #74
hi, when I run the migrate command I get this:
![image](https://user-images.githubusercontent.com/32339155/89267987-88653e00-d5fd-11ea-9691-23df42a5d203.png)
When I run python manage.py populate_database --max-metapath-length=3  --reduced-metapaths --batch-size=12000
I get the error of
![image](https://user-images.githubusercontent.com/32339155/89268138-bc406380-d5fd-11ea-8320-1a8225758222.png)
![

[2020-08-04 07:56] siyuniu commented on #74
Hi, how to list the tables in the database? Do you mean the neo4j database or psql database?

[2020-08-05 13:39] dongbohu commented on #74
@siyuniu: Based on the screenshots that you posted above, it seems that the models in `dj_hetmech_app` app are not included in the Django project at all. After you run `python manage.py makemigrations` command, does the folder `dj_hetmech_app/migrations/` get created? If not, something must be wrong with your Django setup.

You can list all tables in Postgres by `\dt` after you launch `psql` comma

[2020-08-07 15:41] siyuniu commented on #74
I didn't have the folder of dj_hetmech_app/migrations/
I rerun
[code]
several times but it didn't help and keeps saying
`No migrations to apply.`

If sth is wrong with my Django setup, should I delete all the staff and re git pull in another machine?
I am not quite sure about that as I do not think I have installed Django before and I just followed the steps in the readme.

PS The Postgres is runn

[2020-08-07 15:58] siyuniu commented on #74
And here is the database tables:
![image](https://user-images.githubusercontent.com/32339155/89664533-ea8f9e80-d89c-11ea-8197-f167a279b5ac.png)

[2020-08-07 16:24] siyuniu commented on #74
ps a little wired thing here is that, inside the django_migrations table, it seems that there is no app relation inside:
![WeChat5e67bf28c434ac1040921207b112071d](https://user-images.githubusercontent.com/32339155/89666796-9a1a4000-d8a0-11ea-9dc9-569799714797.png)

[2020-08-07 17:13] siyuniu commented on #74
I managed to migrate the dj_hetmech_app. However, I met with another problem when I am downloading the database:
![image](https://user-images.githubusercontent.com/32339155/89670740-4ced9c80-d8a7-11ea-9bde-52f5b66a529f.png)
The database is partially downloaded when I checked the PostgreSQL:
![image](https://user-images.githubusercontent.com/32339155/89670797-64c52080-d8a7-11ea-8aff-4ff81a743e50.pn

[2020-08-07 17:39] siyuniu commented on #74
I also have a question about path implementation. Do those paths exist directly in the database or are they called with query every time? Are those clear paths showing in the frontend generated on the website in real-time?
If I hope to use another neo4j database and also have these functions, how would you suggest to me to do it?
I really appreciate the help you provide.

[2020-08-08 12:24] dhimmel commented on #74
Looks like the error is occurring within this function:

https://github.com/greenelab/connectivity-search-backend/blob/af12f8cf2ad47d9a25ce8d1b7889390654eb3bb9/dj_hetmech_app/management/commands/populate_database.py#L255-L273

This function downloads and loads several zip files. When I run the following `ls` command, I get:

[code]

What do you get? (FYI, it's a bit better to insert the raw text i

[2020-08-08 12:48] dhimmel opened #75 "Improvements to the database accessibility"
User feedback in https://github.com/greenelab/connectivity-search-backend/issues/74 highlighted some issues with the accessibility of our database. I updated the README in https://github.com/greenelab/connectivity-search-backend/commit/a6d558825af1bff9dd114cfff543cb220c38464e, but there are still several improvements I'd like to make.

1. publicly archiving `hetmech-pg_dump.sql.gz`. I will look in

[2020-08-10 13:15] dongbohu commented on #75
@dhimmel Do you already have `hetmech-pg_dump.sql.gz` available somewhere? If you do, I can modify the readme file.

I forgot whether the read-only user account is still valid. I will create one if not. Do you think we should put this account credential to readme file too?

[2020-08-10 18:30] dongbohu commented on #75
@dhimmel: Currently the size of the hetmech Postgres database is ~55 GB. Instead of generating a pg_dump file, do you think it will be better to generate a Postgres docker image and publish it on docker hub? It will be probably easier for user to set up, and we don't have to make the read-only account public any more.

By the way, I did find the read-only-user account and it still works.

[2020-08-11 02:13] dhimmel commented on #75
It was on my Greene Lab workstation. I was able to use [this script](https://github.com/jhpoelen/zenodo-upload) to upload the file to our Zenodo deposit. So the file is now available at https://zenodo.org/record/3978766. I renamed it to `connectivity-search-pg_dump.sql.gz` so it matches this repository's name.

Yes the README or in this file, perhaps under `public_db`:

https://github.com/greenela

[2020-08-11 02:15] dhimmel commented on #75
We'll probably want to make it so we can use `search-db.het.io` as the database URL by making an alias record to the AWS address. This way if we ever change the AWS address, we can just remap that URL. And it's easier to remember.

[2020-08-14 20:56] siyuniu commented on #74
Thanks a lot for all the information. I really appreciate your help. This is really a cool project. I didn't realize that there are such complicated back-end and database processing behind the simple and user-friendly interface. It would be great if this could be used by other neo4j databases.

[2020-09-11 21:45] dhimmel commented on #75
@dongbohu can you comment here with the read-only user access details. Basically what values to fill in for:

https://github.com/greenelab/connectivity-search-backend/blob/a6d558825af1bff9dd114cfff543cb220c38464e/dj_hetmech/secrets-template.yml#L2-L6

And regarding the database host URL is that stable such that we could make `search-db.het.io` alias it?

[2020-09-11 21:49] dongbohu commented on #75
@dhimmel: I have been working on something else and totally forgot this issue. Will do it sometime next week.

[2020-09-14 13:17] dongbohu commented on #75
@dhimmel:

[code]
The database host URL is stable now. Feel free to create alias.

[2020-12-21 21:45] dhimmel commented on #75
Added a DNS record for

[code]

Now if I run `nslookup search-db.het.io`, I get:

[code]

[2020-12-21 22:06] #75 closed

[2020-12-21 22:40] dhimmel opened #76 "search-api.het.io SSH access and main branch rename"
I renamed the default branch to `main` and updated source in https://github.com/greenelab/connectivity-search-backend/commit/3c4e558afc3f7cb01b816254e86dcf98b073f85e.

Looking at the [CI Logs](https://app.circleci.com/pipelines/github/greenelab/connectivity-search-backend/227/workflows/9ca649e6-1522-48ad-a99e-ddbc8536ce53/jobs/276), I'm not sure the auto-deploy is working for the `main` branch:

[

[2020-12-21 23:00] dongbohu commented on #76
@dhimmel I added all your ssh keys. I took a quick look at the serer on AWS. Yes, it is still on `master` branch. Let's deal with this issue when it is migrated to Google Cloud.

[2020-12-21 23:18] dhimmel commented on #76
Thanks for adding the SSH key. I logged in and switched the branch to main.

[code]

[2020-12-21 23:18] #76 closed

[2021-01-04 13:09] dhimmel opened #77 "Zenodo urllib.request.urlretrieve downloads raise ContentTooShortError"
When downloading `https://zenodo.org/record/1435834/files/dwpcs_length-2_damping-0.0.zip` from https://zenodo.org/record/1435834, I got:

[code]

[2021-01-04 13:23] dhimmel commented on #77
My guess is that I have a bad internet connection, which caused the download to fail after 1.3 GB of the 3.2 GB file had been downloaded.

So I could retry with better internet, or seeing if [requests](https://stackoverflow.com/a/39217788/4651668) can handle the poor connection.

[2021-01-06 14:09] dongbohu commented on #77
@dhimmel For a file as big as 3.2 GB, you probably should provide a fingerprint (md5, sha, etc) to verify it after downloading.

[2021-01-07 00:19] dhimmel opened #78 "Migrate hosting to GCP from AWS"
From @dongbohu:

[2021-01-07 00:22] dhimmel commented on #78
Okay I updated the DNS record to be:

[code]

So now you can generate the SSL certifacte?

Does this migration only affect `search-api.het.io` and not the postures database at `search-db.het.io`? Are you also planning to migrate the database?

[2021-01-07 00:46] dongbohu commented on #78
Thanks @dhimmel. I enabled HTTPS and the new https://search-api.het.io seems to be  alive now.

The new API server actually is using a new database, whose IP address is `35.229.78.195`. Please feel free to update `search-db.het.io` too.

[2021-01-07 00:57] dhimmel commented on #77
brilliant! added in https://github.com/greenelab/connectivity-search-backend/pull/79/commits/9ba9e7c0c7278b93c85bc9c9134d6f79bf12287f

[2021-01-07 01:06] dhimmel commented on #78
Okay updated that DNS record as well, so the records are now:

[code]

So the old database and instance can go now?

[2021-01-07 01:22] dongbohu commented on #78
I have stopped the original EC2 and RDS instances on AWS. Will keep it for a few more days. If everything is okay, I will delete them permanently.

[2021-01-07 01:28] #78 closed

[2021-01-09 02:07] dhimmel opened #81 "Use a clean git repo in the production search-api.het.io instance"
Following #78 & https://github.com/greenelab/connectivity-search-backend/pull/80, I noticed the following unstaged change in the git repo on search-api.het.io:

[code]

This seems problematic to me. If we change `settings.py` it could cause the `git pull --ff-only` to fail. There must be a more robust way of setting DEBUG false? For example, by way of an environment variable or other option passed

[2021-01-09 02:21] dongbohu commented on #81
Good point. I think we can set `DEBUG` and `SECRET_KEY` in `secrets.yml`. If they are not found in `secrets.yml`, default them to:
[code]
Do you want to include that in the PR that you are working on now?

[2021-01-09 02:31] dongbohu commented on #81
I created a local branch on search-api.het.io, so its local `main` branch is in sync with the repo. When your changes are merged, `git pull --ff-only` should be okay.

[2021-01-09 03:20] dhimmel commented on #81
I like this idea.

Would prefer to have this as a separate PR.

So the instance is currently not on the main branch?

[2021-01-09 04:38] dongbohu commented on #81
I found DEBUG was True in the evening, so I created a new branch and set it
to False, then deployed it on production. We can have deploy it on "main"
branch after this is fixed.

On Fri, Jan 8, 2021 at 10:20 PM Daniel Himmelstein <notifications@github.com>
wrote:

[2021-01-09 13:44] dongbohu commented on #81
I filed a quick PR #82 for this issue.

[2021-01-09 13:52] #81 closed

[2021-01-19 21:29] dhimmel commented on #74
I also encountered this error in https://github.com/greenelab/connectivity-search-backend/pull/79#issuecomment-758355345. It has to do with the neo4j-python-driver encountering an error when it closes its connection. Luckily this occurs after the database has been fully imported, such that it can be ignored.

Closing this issue, but feel free to open new issues or continue commenting.

[2021-01-19 21:29] #74 closed

[2021-01-24 13:46] dhimmel commented on #77
Closing this since it was likely due to a poor internet connection. The checksum validation will now fail subsequent runs unless the corrupted (partial file) is deleted and redownloaded in its entirety.

[2021-01-24 13:46] #77 closed

[2021-01-24 14:03] dhimmel commented on #63
After repopulating the database in #79, this issue is still present:

[code]

[code]

[2021-06-19 17:37] dhimmel opened #83 "https://search-api.het.io/ is currently down or inaccessible"
[code]

And on https://het.io/search/, looking at the console for search API requests, we're getting `ERR_CONNECTION_TIMED_OUT`.

@dongbohu can you look into this?

[2021-06-20 11:29] dongbohu commented on #83
@dhimmel For some reason the backend server was dead. I rebooted it and it seems to be working now.

[2021-06-21 13:52] dhimmel commented on #83
Thanks @dongbohu. Noting https://github.com/hetio/hetionet/issues/38: the Neo4j database also went down around the same time. Not sure if there is any relation.

[2021-06-21 13:52] #83 closed